#content {
    margin-top: 8%;
    text-align: center;
    color: #FFF !important;
}

.main_header {
    font-size: 50px;
}

.pulse {
    margin-left: 5%;
    margin-right: 5%;
    width: 600px;
    height: 70px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 75px;
    border-radius: 50%;
    background: #e8112a;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0.5);
    -webkit-animation: pulse 1.6s infinite;
}

@-webkit-keyframes pulse {
    0% {
        transform: scale(0.9);
    }
    70% {
        transform: scale(1.1);
        box-shadow: 0 0 0 40px rgba(90, 153, 212, 0);
    }
    100% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
    }
}
.material-icons {
    font-size: 36px;
}